*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: rgb(251, 137, 255);
    background-image: linear-gradient(to bottom,rgb(252, 55, 186),rgb(107, 31, 250));
}
#app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
#temp{
    text-align: center;
    color: whitesmoke;
    font-size: 3rem;
}
#location{
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 3rem;
}
